build/
**/build/
classes
thrift-gen/

GIT_CHECKOUT_PATHS

# Gradle
.gradle/
**/.gradle/
**/.gradletasknamecache

# VIM
*.swp
*~

# Eclipse
workbench.xmi

.idea/
*.iml
*.ipr
*.iws
**/*.iml
out/
.classpath
**/.classpath
.project
**/.project
.settings/
**/.settings/
# Ignore OS X Desktop Services store
.DS_Store
*.DS_Store
**/.DS_Store
.tddium*
**/*~

# NetBeans
.nb-gradle/
.solano*

# Bazel
WORKSPACE
**/BUILD
third_party/
/bazel-bazel
/bazel-bin
/bazel-genfiles
/bazel-io_bazel
/bazel-out
/bazel-testlogs
/bazel.iml

# VSCode
.vscode/

# Gradle Enterprise
.build_scan_info.json

# log files
*.log
